<% if resource.errors.any? %>
  <div class="devise_error_air_space">
  </div>
  <div id="error_explanation" data-turbo-cache="false">
    <ul class="devise_error_messages">
      <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
