<div>現在、300円貯まっています！
</div>
<div>「結婚式までに10キロ落とす！」に向けてがんばりましょう！
</div>
<div>今日の記録をつける。
  <div>
    <%= form_with model: @record, url: records_path, local: true do |f| %>
      <%= f.text_field :content, class: "" %>を
      <%= f.number_field :time_minute, class: "" %>分できた！
    <% end %>
  </div>
</div>
