* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ヘッダー */

.header {
  background-color: #fcd8d8; /* #f1f8fe */
  width: 100vw;
  height: 65px;
  padding: 0 10px;
  font-family: 'Zen Maru Gothic', sans-serif;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 60px;
  object-fit: contain;
}

.nav__right {
  display: flex;
  align-items: center;
}

.nav__right a {
  color: #fff;
}

.left_days {
  text-align: center;
  color: #fff;
}

.nav__lists {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav__list {
  list-style: none;
  padding-left: 20px;
}

/* レイアウト */

.contents_row {
  background-color: #fff;
}

.main{
  width: 60vw;
  height: calc(100vh - 65px - 35px);
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 23px;
  color: #333333;
  padding-top: 100px;
  margin: 0 auto;
  background-color: #fff;
}

/* トップページ */

.top_page {
  background-color: #fff;
  width: 80%;
  margin: 50px auto 0;
}

.record_errors {
  font-size: 15px;
  color: red;
  margin-bottom: 50px;
  text-decoration: underline;
}

.field_with_errors {
  display: contents;
}

.title {
  margin-bottom: 100px;
}

.price_sum span {
  margin-right: 10px;
  letter-spacing: 1px;
  color: #f88b9c;
}

.goal {
  margin: 10px 0px 30px;
  line-height: 30px;
}

.goal span {
  background:linear-gradient(transparent 70%, #fff3f6 0%);
}

.record{
  display: flex;
}

.record span {
  margin-right: 10px;
  color: #fcd8d8;
}

.hidden{
  display: none;
  margin: 20px 0 0 40px;
  font-size: 20px;
}

.btn {
  border: 1px solid #FFB6C1;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  background-color: #fff;
  color: #f994a3;
}

.record .btn {
  margin-right: 10px;
}

.price_use_form {
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 10px;
  margin: 0 5px 0 0;
  width: 150px;
}

.record_form {
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 10px;
  margin-right: 5px;
  width: 150px;
}

/* 設定ページ */

.option {
  background-color: #fff;
}

.option_explanation {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
}

.option_explanation span {
  margin-right: 10px;
  color: #fcd8d8;
}

.option_error_messages {
  width: 80%;
  list-style: none;
  font-size: 15px;
  color: red;
}

.option_form {
  width: 80%;
  margin: 30px auto 0;
}

.goal_form {
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
  margin: 20px 0 20px 0;
  width: 80%;
}

.limit_form {
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
  margin: 0 0 20px 0;
  width: 150px;
}

.rate_form {
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
  margin: 0 10px 20px 10px;
  width: 150px;
}

.rate_option span {
  letter-spacing: 5px;
}

.option_submit {
  width: 100px;
  margin: 30px auto 0;
}

.option_submit .btn {
  width: 100%;
  font-size: 20px;
  padding: auto;
}

/* ログイン画面 */

.session_main{
  width: 60vw;
  height: calc(100vh - 65px - 35px);
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 23px;
  color: #333333;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.container {
  width: 40%;
  margin: 0 auto 30px;
  background-color: #fff;
}

.devise_title {
  font-size: 30px;
}

.notice {
  font-size: 15px;
  color: red;
}

.alert {
  font-size: 15px;
  color: red;
}

.email_field {
  margin: 30px 0 0;
}

.password_field {
  margin-top: 20px
}

.devise_form {
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: 5px;
  width: 100%;
}

.check_field {
  margin: 30px auto;
  font-size: 15px;
  width: 200px;
  display: flex;
  align-items: center;
}

.remember_me {
  display: block;
}

.check_box {
  display: block;
  margin-left: 10px;
}

.session_actions {
  width: 150px;
  margin: 30px auto 20px;
}

.session_actions .btn {
  width: 100%;
  font-size: 20px;
  padding: auto;
}

.devise_link {
  width: 120px;
  margin: 0 auto;
}

.devise_link a {
  font-size: 15px;
  color: #333333;
  background:linear-gradient(transparent 70%, #ffd8e2 0%);
}

/* 新規登録 */

.registration_main{
  width: 80vw;
  height: calc(100vh - 65px - 35px);
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 23px;
  color: #333333;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registration_container {
  width: 340px;
  margin-bottom: 30px;
  background-color: #fff;
}

.devise_error_air_space {
  height: 15px;
}

.devise_error_messages {
  list-style: none;
  font-size: 15px;
  color: red;
  display: contents;
}

.password_field span {
  font-size: 15px;
  margin-left: 10px;
}

.registration_actions {
  width: 100px;
  margin: 30px auto 20px;
}

.registration_actions .btn {
  width: 100%;
  font-size: 20px;
  padding: auto;
}

/* welcome画面 */

.welcom_container {
  width: 65%;
  background-color: #fff;
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 30px;
  padding-right: 100px;
}

.stockpile_explanation {
  width: 550px;
  margin: 0 auto 50px;
}

.stockpile {
  color: #f88b9c;
  letter-spacing: 1px;
}

.fictional_savings {
  letter-spacing: 1px;
  background:linear-gradient(transparent 70%, #ffdee6 0%);
}

.motivation {
  text-decoration: underline;
  text-decoration-color: #ffdee6;
  text-decoration-style: wavy;
}

.how_to_stockpile {
  letter-spacing: 1px;
  color: #ffc5d4;
}

.color_block {
  width: 630px;
  background-color: #fffbfb;
  border-radius: 100px;
  padding: 15px 0 0 15px;
  margin: 0 auto;
}

.color_block .title_space {
  margin-left: 40px;
}

.example_how_to {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto 0;
}

.stockpile_user_img {
  height: 200px;
  object-fit: contain;
}

.example_center {
  height: 100%;
  margin: auto 10px auto 0 ;
  font-size: 30px;
  color: #ffdee6;
}

.example_right {
  margin: auto 0;
  height: 100%;
  font-size: 13px;
  line-height: 20px;
}

.enthusiasm {
  text-decoration: underline;
  text-decoration-color: #ffdee6;
  text-decoration-style: wavy;
}

.down_arrow {
  width: 20px;
  margin: 10px auto 8px;
  color: #ffdee6;
  /* color: #b8b8b8; */
}

.ending {
  width: 640px;
  font-size: 13px;
  line-height: 16px;
  margin: 40px auto 0;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #ffdee6;
}

/* フッター */

.footer {
  background-color: #999;
  width: 100vw;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  font-size: 10px;
  font-family: 'Zen Maru Gothic', sans-serif;
}

/* タブレット表示時 */

@media (max-width: 1283px) {

  /* 新規登録画面 */

  .registration_main {
    height: calc(100% - 65px - 35px);
    margin: 60px auto;
    flex-direction: column;
  }

  .welcom_container {
    width: 100%;
    margin-bottom: 100px;
    padding-right: 0px;
  }
}

/* スマホ表示時 */

@media (max-width: 715px) {

  /* welcome画面 */

  .header {
    height: 45px;
  }

  .registration_main {
    height: calc(100% - 45px - 35px);
    margin: 25px auto;
  }

  .logo {
    height: 40px;
    object-fit: contain;
  }

  .registration_main {
    width: 90vw;
  }

  .welcom_container {
    font-size: 16px;
    line-height: 29px;
    margin-bottom: 50px;
  }
  
  .stockpile_explanation {
    width: 280px;
    margin: 0 auto 25px;
    padding-left: 16px;
  }

  .fictional_savings::before {
    content: "\A" ;
    white-space: pre ;
  }

  .motivation::before {
    content: "\A" ;
    white-space: pre ;
  }
  
  .color_block {
    width: 280px;
    border-radius: 50px;
    padding: 10px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .color_block .title_space {
    margin: 0px;
  }

  .how_to_stockpile {
    font-size: 13px;
  }
  
  .example_how_to {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stockpile_user_img {
    height: 120px;
  }
  
  .example_center {
    display: none;
  }
  
  .example_right {
    font-size: 10px;
    line-height: 18px;
  }
  
  .down_arrow {
    width: 15px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    margin: auto;
    color: #ffdee6;
  }
  
  .ending {
    width: 300px;
    font-size: 10px;
    line-height: 13px;
    margin: 25px auto 0;
  }

  .break::before {
    content: "\A" ;
    white-space: pre ;
  }

  /* 新規登録画面 */

  .registration_container {
    width: 250px;
    margin-bottom: 0px;
    font-size: 15px;
  }

  .devise_title {
    font-size: 20px;
  }
  
  .devise_error_air_space {
    height: 15px;
  }
  
  .devise_error_messages {
    list-style: none;
    font-size: 11px;
    color: red;
    display: contents;
  }
  
  .password_field span {
    font-size: 10px;
  }
  
  .registration_actions {
    width: 80px;
    margin: 30px auto 10px;
  }
  
  .registration_actions .btn {
    width: 100%;
    font-size: 15px;
    padding: auto;
  }

  .devise_link {
    width: 80px;
    margin: 0 auto;
  }
  
  .devise_link a {
    font-size: 10px;
  }

  /* ログイン画面 */

  .session_main{
    height: calc(100vh - 45px - 35px);
    width: 80vw;
    color: #333333;
    margin: 0 auto;
  }

  .container {
    width: 250px;
    margin-bottom: 0px;
    font-size: 15px;
  }
  
  .devise_form {
    height: 35px;
    font-size: 15px;
  }

  .session_actions {
    width: 110px;
    margin: 30px auto 10px;
  }
  
  .session_actions .btn {
    width: 100%;
    font-size: 15px;
    padding: auto;
  }

  .check_field {
    margin: 30px auto;
    font-size: 10px;
    width: 140px;
  }
}