* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ヘッダー */

.header {
  background-color: #ff8801; /* #f1f8fe */
  margin-bottom: 48px;
  width: 100%;
  height: 65px;
  padding: 0 10px;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 200px;
}

.nav__right {
  display: flex;
  align-items: center;
}

.nav__right a {
  color: #fff;
}

.left_days {
  text-align: center;
  color: #fff;
}

.nav__lists {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav__list {
  list-style: none;
  padding-left: 20px;
}

/* 新規登録 */

.contents_row{
  width: 100%;
  height: calc(93vh - 65px - 35px);
}

/* トップページ */

.record{
  display: flex;
}

.hidden{
  display: none;
}

/* フッター */

.footer {
  background-color: #999;
  width: 100vw;
  height: 35px;
}
.copyright {
  text-align: center;
  line-height: 35px;
  color: #fff;
  font-size: 10px;
}