* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ヘッダー */

.header {
  background-color: #fcd8d8; /* #f1f8fe */
  width: 100vw;
  height: 65px;
  padding: 0 10px;
  font-family: 'Zen Maru Gothic', sans-serif;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 200px;
}

.nav__right {
  display: flex;
  align-items: center;
}

.nav__right a {
  color: #fff;
}

.left_days {
  text-align: center;
  color: #fff;
}

.nav__lists {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav__list {
  list-style: none;
  padding-left: 20px;
}

/* レイアウト */

.contents_row {
  background-color: #fff;
}

.main{
  width: 60vw;
  height: calc(100vh - 65px - 35px);
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 23px;
  color: rgb(54, 54, 54);
  padding: 100px 0;
  margin: 0 auto;
  background-color: #fff;
}

/* トップページ */

.top_page {
  background-color: #fff;
}

.record_errors {
  font-size: 15px;
  color: red;
  margin-bottom: 50px;
  text-decoration: underline;
}

.field_with_errors {
  display: contents;
}

.title {
  margin-bottom: 100px;
}

.price_sum span {
  margin-right: 10px;
  letter-spacing: 1px;
  color: #f88b9c;
}

.goal {
  margin: 10px 0px 30px;
}

.goal span {
  background:linear-gradient(transparent 70%, #fff3f6 0%);
}

.record{
  display: flex;
}

.record span {
  margin-right: 10px;
  color: #fcd8d8;
}

.hidden{
  display: none;
  margin: 20px 0 0 40px;
  font-size: 20px;
}

.btn {
  border: 1px solid #FFB6C1;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  background-color: #fff;
  color: #f994a3;
}

.record .btn {
  margin-right: 10px;
}

.price_use_form {
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 10px;
  margin: 0 5px 30px 0;
  width: 150px;
}

.record_form {
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 10px;
  margin-right: 5px;
  width: 150px;
}

/* 設定ページ */

.option {
  background-color: #fff;
}

.option_explanation {
  width: 80%;
  margin: 0 auto 40px;
  font-size: 20px;
  line-height: 30px;
}

.option_explanation span {
  margin-right: 10px;
  color: #fcd8d8;
}

.option_form {
  width: 80%;
  margin: 60px auto 0;
}

.goal_form {
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
  margin: 0 0 20px 10px;
  width: 80%;
}

.limit_form {
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
  margin: 0 0 20px 10px;
  width: 150px;
}

.rate_form {
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
  margin: 0 10px 20px 10px;
  width: 150px;
}

.rate_option span {
  letter-spacing: 5px;
}

.option_submit {
  width: 100px;
  margin: 30px auto 0;
}

.option_submit .btn {
  width: 100%;
  font-size: 20px;
  padding: auto;
}


/* フッター */

.footer {
  background-color: #999;
  width: 100vw;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  font-size: 10px;
}
